<!--Форма редактирования/добавления задачи-->
<div id="todo-update-modal" class="modal fade in" tabindex="-1" style="display: block;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Создание/Редактирование задачи</h4>
            </div>
            <div class="modal-body">
                <form ng-model="currentTask">
                    <div class="form-group">
                        <label for="todo-content" class="control-label">Задача:</label>
                        <input type="text" class="form-control" id="todo-content" name="todo-content" ng-model="currentTask.content">
                    </div>
                    <div class="form-group">
                        <label for="todo-tag" class="control-label">Важность:</label>
                        {{currentTask.tag}}
                        {{currentTask}}
                        <select class="form-control"
                                id="todo-tag"
                                name="todo-tag"
                                ng-model="currentTask.tag"
                                ng-options="key as val for (key,val) in tagsList track by key"></select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger pull-left" ng-click="todoRemoveClick()">Удалить</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                <button type="button" class="btn btn-primary" ng-click="todoAddClick()">Создать/Сохранить</button>
            </div>
        </div>
    </div>
</div>
<div class="modal-backdrop fade in"></div>
