<!--Подтверждение действия-->
<div id="todo-remove-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Удалинеи задачи</h4>
            </div>
            <div class="modal-body">
                <p>Вы уверены что хоитите удалить задачу #{{taskID}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                <button type="button" class="btn btn-success">Да</button>
            </div>
        </div>
    </div>
</div>
<div class="modal-backdrop fade in"></div>